@model SDD_P02_Group1.ViewModels.SpendingViewModel

@{
    ViewData["Title"] = "View Spending";
}

<h4>Spendings for current week</h4>
<br />

<div class="table-responsive">
    <table id="ViewSpending" class="table table-striped">
        <thead>
            <tr>
                <th>First Date Of Week</th>
                <th>Monday Spending</th>
                <th>Tuesday Spending</th>
                <th>Wednesday Spending</th>
                <th>Thursday Spending</th>
                <th>Friday Spending</th>
                <th>Saturday Spending</th>
                <th>Sunday Spending</th>
                <th>Total Spending</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.current.FirstDateOfWeek.ToString("dd MMM yyyy")</td>
                @if (Model.current.MonSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.MonSpending)</td>
                }
                @if (Model.current.TueSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.TueSpending)</td>
                }
                @if (Model.current.WedSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.WedSpending)</td>
                }
                @if (Model.current.ThuSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.ThuSpending)</td>
                }
                @if (Model.current.FriSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.FriSpending)</td>
                }
                @if (Model.current.SatSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.SatSpending)</td>
                }
                @if (Model.current.SunSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.SunSpending)</td>
                }
                @if (Model.current.TotalSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.TotalSpending)</td>
                }
            </tr>
        </tbody>
    </table>
</div>
<br />

<h4>Spending Difference Compared to Previous Week</h4>

<table id="ViewSpending" class="table table-striped">
    <thead>
        <tr>
            <th>Monday Spending</th>
            <th>Tuesday Spending</th>
            <th>Wednesday Spending</th>
            <th>Thursday Spending</th>
            <th>Friday Spending</th>
            <th>Saturday Spending</th>
            <th>Sunday Spending</th>
            <th>Total Spending</th>
            <th>Total Spending Difference(%)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model.weekdiff.MonSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.MonSpendingDifference)</td>
            }
            @if (Model.weekdiff.TueSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.TueSpendingDifference)</td>
            }
            @if (Model.weekdiff.WedSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.WedSpendingDifference)</td>
            }
            @if (Model.weekdiff.ThuSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.ThuSpendingDifference)</td>
            }
            @if (Model.weekdiff.FriSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.FriSpendingDifference)</td>
            }
            @if (Model.weekdiff.SatSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.SatSpendingDifference)</td>
            }
            @if (Model.weekdiff.SunSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.SunSpendingDifference)</td>
            }
            @if (Model.weekdiff.TotalSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.TotalSpendingDifference)</td>
            }
            @if (Model.weekdiff.TotalSpendingDifferencePercentage is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0:n2}{1}", Model.weekdiff.TotalSpendingDifferencePercentage,"%")</td>
            }
        </tr>
    </tbody>
</table>
<br />

<h4>Spendings By Category</h4>

<div class="table-responsive">
    <table id="ViewSpending" class="table table-striped">
        <thead>
            <tr>
                <th>Date of Transaction</th>
                <th>Category of Spending</th>
                <th>Amount Spent</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.spendrecord)
            {
                <tr>
                    <td>@item.DateOfTransaction.ToString("dd MMM yyyy")</td>
                    <td>@item.CategoryOfSpending</td>
                    <td>@String.Format("{0}{1:n2}", "$", item.AmountSpent)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />

<h4>Past Spending Records by Week</h4>

@if (Model.past.Count > 0)
{
    <div class="table-responsive">
        <table id="ViewSpending" class="table table-striped">
            <thead>
                <tr>
                    <th>First Date Of Week</th>
                    <th>Monday Spending</th>
                    <th>Tuesday Spending</th>
                    <th>Wednesday Spending</th>
                    <th>Thursday Spending</th>
                    <th>Friday Spending</th>
                    <th>Saturday Spending</th>
                    <th>Sunday Spending</th>
                    <th>Total Spending</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.past)
                {
                    if (item.FirstDateOfWeek != Model.current.FirstDateOfWeek)
                    {
                        <tr>
                            <td>@item.FirstDateOfWeek.ToString("dd MMM yyyy")</td>
                            @if (item.MonSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.MonSpending)</td>
                            }
                            @if (item.TueSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.TueSpending)</td>
                            }
                            @if (item.WedSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.WedSpending)</td>
                            }
                            @if (item.ThuSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.ThuSpending)</td>
                            }
                            @if (item.FriSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.FriSpending)</td>
                            }
                            @if (item.SatSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.SatSpending)</td>
                            }
                            @if (item.SunSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.SunSpending)</td>
                            }
                            @if (item.TotalSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.TotalSpending)</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
