@model SDD_P02_Group1.ViewModels.SpendingViewModel

@{
    ViewData["Title"] = "View Spending";
}
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<h4>Spendings for current week</h4>
<p>
    <a asp-controller="Spending" asp-action="Create">Add New Spending</a>
</p>
<br />

<div class="table-responsive">
    <table id="ViewSpending" class="table table-striped">
        <thead>
            <tr>
                <th>First Date Of Week</th>
                <th>Monday Spending</th>
                <th>Tuesday Spending</th>
                <th>Wednesday Spending</th>
                <th>Thursday Spending</th>
                <th>Friday Spending</th>
                <th>Saturday Spending</th>
                <th>Sunday Spending</th>
                <th>Total Spending</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.current.FirstDateOfWeek.ToString("dd MMM yyyy")</td>
                @if (Model.current.MonSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.MonSpending)</td>
                }
                @if (Model.current.TueSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.TueSpending)</td>
                }
                @if (Model.current.WedSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.WedSpending)</td>
                }
                @if (Model.current.ThuSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.ThuSpending)</td>
                }
                @if (Model.current.FriSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.FriSpending)</td>
                }
                @if (Model.current.SatSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.SatSpending)</td>
                }
                @if (Model.current.SunSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.SunSpending)</td>
                }
                @if (Model.current.TotalSpending is null)
                {
                    <td>No Record</td>
                }
                else
                {
                    <td>@String.Format("{0}{1:n2}", "$", Model.current.TotalSpending)</td>
                }
            </tr>
        </tbody>
    </table>
</div>
<br />

<h4>Spending Difference Compared to Previous Week</h4>

<table id="ViewSpending" class="table table-striped">
    <thead>
        <tr>
            <th>Monday Spending</th>
            <th>Tuesday Spending</th>
            <th>Wednesday Spending</th>
            <th>Thursday Spending</th>
            <th>Friday Spending</th>
            <th>Saturday Spending</th>
            <th>Sunday Spending</th>
            <th>Total Spending</th>
            <th>Total Spending Difference(%)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model.weekdiff.MonSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.MonSpendingDifference)</td>
            }
            @if (Model.weekdiff.TueSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.TueSpendingDifference)</td>
            }
            @if (Model.weekdiff.WedSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.WedSpendingDifference)</td>
            }
            @if (Model.weekdiff.ThuSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.ThuSpendingDifference)</td>
            }
            @if (Model.weekdiff.FriSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.FriSpendingDifference)</td>
            }
            @if (Model.weekdiff.SatSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.SatSpendingDifference)</td>
            }
            @if (Model.weekdiff.SunSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.SunSpendingDifference)</td>
            }
            @if (Model.weekdiff.TotalSpendingDifference is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0}{1:n2}", "$", Model.weekdiff.TotalSpendingDifference)</td>
            }
            @if (Model.weekdiff.TotalSpendingDifferencePercentage is null)
            {
                <td>No Record</td>
            }
            else
            {
                <td>@String.Format("{0:n2}{1}", Model.weekdiff.TotalSpendingDifferencePercentage, "%")</td>
            }
        </tr>
    </tbody>
</table>
<br />

<h4>Spendings By Month</h4>

<div class="input-group rounded">
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" style="background-color:#F69782">All</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="Jan">Jan</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="Feb">Feb</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="Mar">Mar</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="Apr">Apr</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="May">May</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="Jun">Jun</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="Jul">Jul</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="Aug">Aug</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="Sep">Sep</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="Oct">Oct</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="Nov">Nov</button>
    <button type="button" class="btn btn-default btn-lg filter" onclick="filterDate()" id="Dec">Dec</button>
</div>

<div class="table-responsive">
    <table id="ViewSpending" class="table table-striped">
        <thead>
            <tr>
                <th>Date of Transaction</th>
                <th>Category of Spending</th>
                <th>Amount Spent</th>
            </tr>
        </thead>
        <tbody id="SpendingMonth">
            @foreach (var item in Model.spendrecord)
            {
                <tr class="@item.DateOfTransaction.ToString("MMM")">
                    <td>@item.DateOfTransaction.ToString("dd MMM yyyy")</td>
                    <td>@item.CategoryOfSpending</td>
                    <td>@String.Format("{0}{1:n2}", "$", item.AmountSpent)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />

<h4>Past Spending Records by Week</h4>

<div style="width: 300px" class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" id="RecordSearch" />
    <span class="input-group-text border-0">
        <i class='bx bx-search'></i>
    </span>
</div>

@if (Model.past.Count > 0)
{
    <div class="table-responsive">
        <table id="ViewSpending" class="table table-striped">
            <thead>
                <tr>
                    <th>First Date Of Week</th>
                    <th>Monday Spending</th>
                    <th>Tuesday Spending</th>
                    <th>Wednesday Spending</th>
                    <th>Thursday Spending</th>
                    <th>Friday Spending</th>
                    <th>Saturday Spending</th>
                    <th>Sunday Spending</th>
                    <th>Total Spending</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.past)
                {
                    if (item.FirstDateOfWeek != Model.current.FirstDateOfWeek)
                    {
                        <tr class="RecordSearch">
                            <td>@item.FirstDateOfWeek.ToString("dd MMM yyyy")</td>
                            @if (item.MonSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.MonSpending)</td>
                            }
                            @if (item.TueSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.TueSpending)</td>
                            }
                            @if (item.WedSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.WedSpending)</td>
                            }
                            @if (item.ThuSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.ThuSpending)</td>
                            }
                            @if (item.FriSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.FriSpending)</td>
                            }
                            @if (item.SatSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.SatSpending)</td>
                            }
                            @if (item.SunSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.SunSpending)</td>
                            }
                            @if (item.TotalSpending is null)
                            {
                                <td>No Record</td>
                            }
                            else
                            {
                                <td>@String.Format("{0}{1:n2}", "$", item.TotalSpending)</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function filterDate($) {
        var buttons = $('button');
        buttons.click(function () {
            buttons.css('background-color', '#FFFFFF');
            $(this).css('background-color', '#F69782');
        });
        var filter;
        $('.filter').click(function () {
            if (filter == this.id) {
                filter = undefined;
            } else if (this.id == '') {
                $('#SpendingMonth tr').show();
                filter = undefined;
            } else {
                $('#SpendingMonth tr:not(.' + this.id + ')').hide();
                $('#SpendingMonth tr.' + this.id).show();
                filter = this.id;
            }
        });
    });

    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#RecordSearch").keyup(function () {
            var searchText = $("#RecordSearch").val().toLowerCase();

            $(".RecordSearch").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }

            });
        });

    });
</script>
